<ion-header >
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-title class="TextPrincipal">Mentor's Talk</ion-title>
    <ion-icon slot="start" size="large" name="logo-electron" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- tela de fundo com o slogan -->
<ion-content>
  <div id="fundo">
    <h3 id="slogan">"Quem não compartilha,<br>
      <b>Não Cresce</b>"     
    </h3>    
  </div>

<!-- area que aparece as nociticas de updates e novidades-->
  <div class="Noticias">
    <ion-row class="ion-nowrap">
      <ion-card class="update" *ngFor="let i of noticias" >   
        <ion-card-header>
          <ion-card-title color="primary" style="font-size: 20px;">{{i.Titulo}}</ion-card-title>
          <ion-card-subtitle color="medium">{{i.Sub}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="font-size: 12px;">
        {{i.Descricao}} <br>
        {{i.Att}} <br>
        {{i.Ass}}
        </ion-card-content>
      </ion-card>
  </ion-row>
</div>

<!-- Titulo Mentores novos-->
  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <ion-text class="Texto-titulo">Mentores Novos</ion-text>
    </ion-col>
    <ion-col size="auto">
      <ion-badge color="secondary">Hot</ion-badge>
    </ion-col>
  </ion-row>



<!-- Mentores novos-->
  <ion-card class="Cards" *ngFor="let i of mentores" >
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto" >
          <ion-avatar class="News-Avatar">
            <img [src]="'https://randomuser.me/api/portraits/men/'+i.id+'.jpg'"></ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title color="primary" style="font-size: 18px;">{{i.Nome}} </ion-card-title>
          <ion-card-subtitle color="medium">{{i.Cargo}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-button fill="clear" size="small" (click)="addFavoritos(i.id)">
            <ion-icon [class.jumpicon]="i.liked" slot="icon-only" [name]="i.liked ? 'star' : 'star-outline'"></ion-icon>       
          </ion-button> 
      </ion-col>
      </ion-row>
    </ion-card-header> 
  </ion-card>


  <!-- Titulos Favoritos-->
  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <ion-text class="Texto-titulo">Lista de Favoritos</ion-text>
    </ion-col>
    <ion-col size="auto">
      <ion-badge color="secondary">{{favoritos.length}}</ion-badge>
    </ion-col>
  </ion-row>


  <!-- Lista de Favoritos-->
  <ion-list *ngIf="favoritos.length > 0 ; else NaoTem">
    <ion-card class="Cards" *ngFor="let i of favoritos">
      <ion-card-header>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="News-Avatar">
              <img [src]="'https://randomuser.me/api/portraits/men/'+i.id+'.jpg'"></ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-title color="primary" style="font-size: 18px;">{{i.Nome}} </ion-card-title>
            <ion-card-subtitle color="medium">{{i.Cargo}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="auto" class="ion-no-padding">
            <ion-button fill="clear" size="small" (click)="addFavoritos(i.id)">
              <ion-icon slot="icon-only" name="heart-outline"></ion-icon>          </ion-button> 
        </ion-col>
        </ion-row>
      </ion-card-header> 
    </ion-card>
</ion-list>

<!-- Se não tiver favoritos-->
<ng-template #NaoTem>
  <ion-card>
      <ion-item>
        <ion-icon name="sad" slot="start"></ion-icon>
        <ion-label>Você Não tem Favoritos</ion-label>
      </ion-item>
  </ion-card>
</ng-template>


</ion-content>
