#fundo {
    background-image: linear-gradient(#00aaa4, #01afe9);
    height:8em;
    border-radius: 0px 0px 25px 25px;
    padding: 2px;
    
  }
#slogan{
    color:#ffffff;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
.TextPrincipal{   
    font-size: 25px;  
}
.Cards{
    margin: 0px 8px 0px 8px;   
    height: 5em;  
    background-color: #ffffff;
    border-radius: 0px;
}
.News-Avatar{
    width: 3em;
    height:3em;
}
.update{
    margin: 10px 15px 10px 15px;   
    background-color: #ffffff;
    width: 23em;
}
ion-content{

    --ion-background-color:#E8E8E8;
}
.Texto-titulo{
    margin: 0px 0px 0px 8px;
    font-size: 18px;
    color:#00aaa4; 
}
.jumpicon{
    animation: jump 0.5s;
    
}
.Noticias{
    overflow: scroll;  
    ion-row{
        width: max-content;
    }
}

@keyframes jump{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);        
    }
    100%{
        transform: scale(1);
    }
}