<ion-header >
  <ion-toolbar color="primary" class="ion-align-items-center">
    <ion-title class="TextPrincipal">Mentor's Talk</ion-title>
    <ion-icon slot="start" size="large" name="logo-electron" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="fundo">
    <h3 id="saudacoesProfissional">Conhecendo os Profissionais
    </h3>
  </div>

  <ion-item>
      
      <ion-input [(ngModel)] = "Pesquisa" placeholder="Pesquisar Linguagem"> </ion-input>

      <ion-button  (click) = "filter(Pesquisa)"> <ion-icon name="search" slot="start"></ion-icon></ion-button>

  
  </ion-item>

  <ion-card class="CardMentor" *ngFor="let i of ListaFiltrada">

    <img [src]=i.Imagem>

    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img [src]="'https://randomuser.me/api/portraits/men/'+i.id+'.jpg'">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>{{i.Nome}}</ion-card-title>
          <ion-card-subtitle>{{i.IdadeUf}}</ion-card-subtitle>
          <p>{{i.Linguagem}}</p>
        </ion-col>
      </ion-row>
    </ion-card-header>


    <ion-card-content>
      {{i.Desc}}
    </ion-card-content>
  </ion-card>
</ion-content>
