<ion-header >
  <ion-toolbar color="primary" class="ion-align-items-center"  *ngFor="let i of mentor">
    <ion-title class="TextPrincipal">Prazer</ion-title>
    <ion-icon slot="start" size="large" name="logo-electron" size="large"></ion-icon>
    <ion-button slot="end" (click)="Add(i.id)">
      <ion-icon  [class.jumpicon]="isliked" size="large" [name]="isliked ? 'thumbs-up' : 'thumbs-up-outline'"></ion-icon> 
    </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center" *ngFor="let i of mentor">
    <ion-col size="auto" >
      <ion-avatar class="avatar">
        <img [src]="'https://randomuser.me/api/portraits/men/'+i.id+'.jpg'" alt="User">
        <ion-badge style="margin-left:20px;">{{i.Likes}} Likes</ion-badge>
      </ion-avatar>
    </ion-col>
    <ion-col>
      <h2 style="color:#00aaa4;"> <b>{{i.Nome}}</b></h2>
      <h6>{{i.Cargo}}</h6>
    </ion-col>   
  </ion-row>

  <ion-card style="background-color: #ffffff;" *ngFor="let i of mentor"> 
    <img [src]="'https://picsum.photos/id/'+i.id+'/500/200'" />
    <ion-card-header>      
      <ion-card-title color="primary" style="font-size: 20px;">Sobre Mim</ion-card-title>
      <ion-card-subtitle color="medium">Ola!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="font-size: 15px;">
      {{i.sobre}}
    </ion-card-content>
  </ion-card>

  <div class="ExpProfissional" *ngFor="let i of mentor"> >
    <ion-row class="ion-nowrap">
      <ion-card class="exp">   
        <ion-card-header>
          <ion-card-title color="primary" style="font-size: 20px;"> {{i.Empresa}}</ion-card-title>
          <ion-card-subtitle color="medium">{{i.Cargo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="font-size: 12px;">
          {{i.UltimaExp}}
        </ion-card-content>
      </ion-card>     
  </ion-row>
</div>



<ion-row  class="rodape">
  <ion-col style="margin-left:30px;">
    <ion-icon color="primary" size="large" name="logo-facebook" ></ion-icon>
  </ion-col>
  <ion-col style="margin-left:30px;">
    <ion-icon color="primary" size="large" name="logo-instagram" ></ion-icon>
  </ion-col>
  <ion-col style="margin-left:30px;">
        <ion-icon color="primary" size="large" name="logo-linkedin" ></ion-icon>
  </ion-col>  
</ion-row>

<ion-button expand="block" (click)="showAlert()">
    Agendar
  </ion-button>

 





</ion-content>
