<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper"></ion-icon>      
      <ion-label>News</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quemsomos">
      <ion-icon name="help-circle"></ion-icon>      
      <ion-label>App</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cat-mentores">
      <ion-icon name="people"></ion-icon>      
      <ion-label>Mentores</ion-label>
    </ion-tab-button>   
    <ion-tab-button tab="agenda">
      <ion-icon name="calendar"></ion-icon>      
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>