<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>      
      <ion-label>News</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quemsomos">
      <ion-icon name="help-circle-outline"></ion-icon>      
      <ion-label>App</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cat-mentores">
      <ion-icon name="people-outline"></ion-icon>      
      <ion-label>Mentores</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="det-mentores">
      <ion-icon name="add-circle-outline"></ion-icon>      
      <ion-label>Detail</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="agenda">
      <ion-icon name="calendar-outline"></ion-icon>      
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>