ion-content{
    --ion-background-color:#E8E8E8;
  }
  .Texto-titulo{
    margin: 0px 0px 0px 8px;
    font-size: 18px;
    color:#00aaa4; 
  }
  .Card-form {
    padding: 10px;
    background-color: white;
  }
  .Monitor-name{
    margin: 10px 0px 0px 8px;
    font-size: 14px;
    color:#000;  
  }
  .Card{
    background-color: white;
  }